---
// Component Imports
import Counter from '../components/counter';

const someProps = {
	count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<Counter {...someProps} client:visible>
				<h1>Hello, React!</h1>
			</Counter>
		</main>
	</body>
</html>
